.ParkTableHeaderMain{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
    background-color: #F3F6F9;
    padding: 20px 15px;
    border-radius: 10px 10px 0 0;
}

.snColumnParkTable{
    width: 40px;
    max-width: 40px;
    min-width: 40px;
}

.nameColumnParkTable{
    flex: 1;
}

.leaderNameParkTable{
    width: 200px;
    max-width: 200px;
    min-width: 200px;
}

.leaderPhoneParkTable{
    width: 130px;
    max-width: 130px;
    min-width: 130px;
}
.numParkTable{
    width: 60px;
    max-width: 60px;
    min-width: 60px;
}

.viTypeParktable{
    width: 150px;
    max-width: 150px;
    min-width: 150px;
}


.actionParkTable{
    width: 90px;
    max-width: 90px;
    min-width: 90px;
    border-right: none;
}

.ParkTableRowMain{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
    padding: 5px 15px;
    border-radius: 10px 10px 0 0;
}

.actionParkButton{
    height: 30px;
    width: 100%;
    background-color: #09A0DD;
    font-size: 13px;
    border-radius: 8px;
}