*{
  box-sizing: border-box;
  outline: none;
}
html, body {
  font-family: "Urbanist", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  color: #1A120B;
}

h1,h2,h3,h4, h5, h6{
  margin: 2px;
  font-family: "Urbanist", sans-serif;
  color: #1A120B;
}

h1, h2{
  font-family: "Urbanist", sans-serif;
}
a{
  background-color: transparent;
  text-decoration: none;
  color: #000;
}
select{
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 25px;
    background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=);
    background-repeat: repeat;
    background-repeat: no-repeat;
    background-position: 95% 42%;
}


/* Hide the up and down buttons in number input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}


button{
  /* background-color: #3c2e2b; */
  background-color: #24B42E;
  font-size: 17px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease-out;
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  color: #fff;
} 

.red-background{
  background-color: #24B42E
 !important;
}
/* #8fc9f1 */
.colorRedText{
  color: #24B42E
;
}

button:hover{
  -webkit-transform: scale(1.03,1);
  -moz-transform: scale(1.03,1);
  transform: scale(1.03, 1);
}

body {
  font-family: "Urbanist", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

div{
  display: block;
  position: relative;
  height: auto;
  font-family: "Urbanist", sans-serif;
  color: #1A120B;
}

.smallShadow{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.xsmallShadow{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.SpaceTopMargin{
  margin-top: 20px;
}

.KeyIconHolderAll span {
  font-size: 30px;
  color: #515151;
}

.ButtonsNSliderALL{
  width: 100px;
  display: flex;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
}

.SliderHolderAll{
  width: 100%;
  max-width: 200px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ValueSliderDisp{
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.SliderOnlyHolder{
  width: 100px;
}